.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.navbar-logo {
  /* margin-right: 6rem; */
}

.navbar-items {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
}

.navbar-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-info div {
  justify-content: flex-end;
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

.navbar-links-container p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  margin: 0 2rem;
  text-transform: lowercase;
}

.rectangle {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  width: 60px;
  height: 2px;
  background: #000000;
  margin-top: 2px;
}

.basket-icon {
  position: relative;
}

.basket-item-qty {
  position: absolute;
  border-radius: 50px;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 14px;
  height: 15px;
  text-align: center;
  right: -3px;
  top: -7px;
}

.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.navbar-menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  text-align: end;
  padding: 1rem;
  position: absolute;
  top: 40px;
  right: 0;

  background: #ffffff;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 1rem;
  z-index: 1000;
  width: 170px;
  background: #F1F1F1;
  /* box-shadow: -3px -3px 4px -1px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -3px -3px 4px -1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -3px -3px 4px -1px rgba(0, 0, 0, 0.76); */
}

.navbar-menu-container p {
  margin: 1rem 0;
}

.navbar-menu-info {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbar-links-container {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }

  .rectangle {
    display: none;
  }
}

@media screen and (max-width: 768px){
  .navbar {
    padding: 2rem 4rem;
  }

  .navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }

  .navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem 2rem;
  }

  .navbar-info {
    display: none;
  }

  .navbar-menu-container {
    top: 20px;
  }

  .navbar-menu-info {
    display: flex;
    flex-direction: row;
  }

  .navbar-menu-info div {
    padding: 0 1rem;
  }
}
