* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  background-color: #ffffff;
}

.section-padding {
  padding: 0rem 6rem 4rem;
}
.feature-padding {
  padding: 1rem 15rem;
}

.chooseUs-padding {
  padding: 5rem 6rem 4rem;
}

.brand-padding {
  padding: 2rem 6rem 2rem;
}

.testimonial-padding {
  padding: 0rem 8rem;
}

.faq-padding {
  padding: 2rem 6rem 2rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}

.scroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
  overflow-y: hidden;
}
.scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.flip-scale-down-ver {
  -webkit-animation: flip-scale-down-ver 0.5s linear both;
  animation: flip-scale-down-ver 0.5s linear both;
}

@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
