@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');

:root {
     font-family: 'Poppins', serif;
   --heading-family: 'Abhaya Libre', serif;
  
  --color-heading: #292019;
  --color-text: #72696A;
}
