.container {
  display: flex;
  flex-direction: row;
}

.accordion-item-card-active {
  width: 558px;
  height: 230px;
  background: #ffffff;
  border: 1px solid #f3f4fe;
  box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
  border-radius: 10px;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start; */
  overflow: hidden;
  transition: all 400ms ease-out;
}

.accordion-item-card {
  width: 558px;
  height: 100px;
  background: #ffffff;
  border: 1px solid #f3f4fe;
  box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
  border-radius: 10px;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start; */
  overflow: hidden;
  transition: all 400ms ease-in;
}

.accordion-question {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #1b1139;
  opacity: 0.88;
  margin-left: 2rem;
}

.accordion-button {
  margin-left: 1.5rem;
}

.accordion-button > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.accordion-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
  /* border: 2px solid black; */
}

.accordion-item.show-desc {
  padding: 2rem 6rem 3rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150.7%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #363049;
  opacity: 0.7;
}

.fa-minus-color {
  color: var(--fa-primary-color);
}
